!!! 1.1
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Build your package
    %link{ :href => "/css/reset.css", :title => "no title", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %link{ :href => "/css/master.css", :title => "no title", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %meta{ :"http-equiv" => "refresh", :content => "5"}
  %body
    .body
      %h1 
        Your package is being built
      %p.slogan
        Please be patient. It usualy does not take longer than 30 seconds.