body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.body
{
    margin: 0 auto;
    padding-left: 20px;
    max-width: 1300px;
}
a
{
    color:#3875D7;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 270px;
    margin-top: 50px;
    margin-bottom: 5px;
}

p.slogan {
    margin-left: 270px;
    font-size: 0.76em;
    margin-bottom: 80px;
}

h1 sup
{
    font-size: 0.5em;
    position: relative;
    bottom: 1em;
    color:#009900;
}

h2
{
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 20px;
}

h3
{
    font-size: 0.76em;
    font-weight: bold;
    margin-bottom: 8px;
}

h3 i
{
    font-weight: normal;
}

.promo
{
    background: url(../i/promo.png);
    background-repeat: no-repeat;
    height: 627px;
    margin-bottom: 30px;
    font-size: 0.8em;
    line-height: 1.3em;
    position: relative;
    left: 0; top: 0;
}

.promo .slogan
{
    position: absolute;
    left: 0;
    top: 62px;
}

.promo .q1,
.promo .q2,
.promo .q3
{
    position: absolute;
    text-align: right;
    width: 210px;
    left: 0;
    top: 194px;
}

.promo .q2
{
    top: 370px;
}

.promo .q3
{
    top: 518px;
}

#mac .promo .q1
{
    top: 167px;
}

#mac .promo .q2
{
    top: 342px;
}

#mac .promo .q3
{
    top: 512px;
}

#win .promo
{
    background: url(../i/win/promo.png);
    background-repeat: no-repeat;
}

#win-chrome .promo
{
    background: url(../i/win-chrome/promo.png);
    background-repeat: no-repeat;
}

.actions
{
    margin-left: 257px;
    width: 382px;
    height: 89px;
    background: url(../i/download_bg.png);
    position: relative;
    top: 0; left: 0;
    margin-bottom: 50px;
}

.actions a
{
    font-size: 1.26em;
}

.actions p
{
    margin-top: 0.4em;
    font-size: 0.76em;
}

.actions .download
{
    position: absolute;
    left: 24px;
    top: 22px;
}

.actions .download img
{
    vertical-align: bottom;
}

.actions .browse
{
    position: absolute;
    left: 210px;
    top: 22px;
}

.actions .note
{
    position: absolute;
    left: 420px;
    top: 10px;
    color:#666;
    white-space: nowrap;
    line-height: 1.4;
}

.actions .note p
{
    margin-bottom: 0.3em;
    font-size: 0.76em;
}


.actions .links
{
    position: absolute;
    left: -257px;
    top: 7px;
    margin-top: 0.35em;
}

.actions .links a
{
    line-height: 1.4;
    font-size: 0.76em;
}


.versions
{
    margin-left: 266px;
    margin-bottom: 2px;
    font-size: 0.76em;
}

.versions .presets
{
    margin-bottom: 3px;
    margin-left: 3px;
}


.versions .preset
{
    color: #3875D7;
    cursor: pointer;
    position: relative;
    top: -0.14em;
    border-bottom: 1px dotted;
    margin: 0 0.2em;
}

.versions .preset span
{
    position: relative;
    top: 0.14em;
}

.versions .preset_selected
{
    background: #3875D7;
    cursor: text;
    border-bottom: none;
    color:#fff;
    margin: 0;
    padding: 0 0.2em;
}

.packages
{
    margin-left: -5px;
    margin-bottom: 4px;
    padding: 4px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:#E8E8E8;
    width: 367px;
}

.packages p
{
    margin: 0 0 0.7em 0;
}

.packages p input
{
    vertical-align: middle;
}


.packages h3
{
    font-size: 1em;
    margin: 1.2em 0 0.5em 2px;
}

.packages .column
{
    float: left;
    width: 49%;
}



.packages .note
{
    margin-top: -0.7em;
    margin-left: 20px;
}


.mail
{
    background: url(../i/mail.png) no-repeat;
    background-position: 100% 50%;
    padding-right: 20px;
}

.features
{
}

.features li
{
    float: left;
    width: 320px;
    height: 340px;
}

.keys table
{
    border-collapse: collapse;
    font-size: 0.76em;
    margin: 0 20px 0.3em 0;
}

.keys table th,
.keys table td
{
    padding: 0.2em 0 1em 0;
    text-align: left;
    line-height: 1.4em;
    vertical-align:top;
}

.keys table th
{
    padding-top: 0;
    padding-right: 1em;
    text-align: right;
    font-weight: normal;
    white-space: nowrap;
    line-height: 1.8em;
}

.keys p
{
    font-size: 0.76em;
}

.keys i
{
    font-style: normal;
    white-space: nowrap;
    padding: 0.1em;
    border: 1px solid #BBB;
    border-bottom-color: #999;
    border-top-color: #DDD;
    background: #EEE;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.copy
{
    clear: both;
    font-size: 0.76em;
    margin-bottom: 20px;
    padding-top: 30px;
}

.clear
{
    overflow: hidden;
    width: 0; height: 0;
    clear: both;
}


#win .win-chrome,
#win .mac,
#mac .win,
#mac .win-chrome,
#win-chrome .mac,
#win-chrome .win
{
    display: none;
}


.build-message
{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 20em;
    height: 10em;
    margin-left: -10em;
    margin-top: -5em;
    z-index: 100;
}

.build-message .bg
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.7;
    z-index: -1;
}

.build-message .content
{
    margin: 1em;
    padding: 1em;
    height: 6em;
    background: white url('/i/ajax-loader.gif') 50% 5.5em;
    background-repeat: no-repeat;
}

.build-message .content p
{
    font-size: 0.82em;
    line-height: 1.2em;
}

.build-message h1
{
    margin-left: 0;
    margin-top: 0;
    font-size: 1.12em;
    margin-bottom: 0.76emem;
    margin-top: 0.2em;
}