body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.body
{
    margin: 0 auto;
    padding-left: 20px;
    max-width: 1300px;
}
a
{
    color:#3875D7;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 270px;
    margin-top: 50px;
    margin-bottom: 5px;
}

p.slogan {
    margin-left: 270px;
    font-size: 0.76em;
    margin-bottom: 80px;
}

h1 sup
{
    font-size: 0.5em;
    position: relative;
    bottom: 1em;
    color:#009900;
}

h2
{
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 20px;
}

h3
{
    font-size: 0.76em;
    font-weight: bold;
    margin-bottom: 8px;
}

h3 i
{
    font-weight: normal;
}

.promo
{
    background: url(../i/promo.png);
    background-repeat: no-repeat;
    height: 627px;
    margin-bottom: 30px;
    font-size: 0.8em;
    line-height: 1.3em;
    position: relative;
    left: 0; top: 0;
}

.promo .slogan
{
    position: absolute;
    left: 0;
    top: 62px;
}

.promo .q1,
.promo .q2,
.promo .q3
{
    position: absolute;
    text-align: right;
    width: 210px;
    left: 0;
    top: 194px;
}

.promo .q2
{
    top: 370px;
}

.promo .q3
{
    top: 518px;
}

#mac .promo .q1
{
    top: 167px;
}

#mac .promo .q2
{
    top: 342px;
}

#mac .promo .q3
{
    top: 512px;
}

#win .promo
{
    background: url(../i/win/promo.png);
    background-repeat: no-repeat;
}

#win-chrome .promo
{
    background: url(../i/win-chrome/promo.png);
    background-repeat: no-repeat;
}

.actions
{
    margin-left: 257px;
    width: 382px;
    height: 89px;
    background: url(../i/download_bg.png);
    position: relative;
    top: 0; left: 0;
    margin-bottom: 50px;
}

.actions a
{
    font-size: 1.26em;
}

.actions p
{
    margin-top: 0.4em;
    font-size: 0.76em;
}

.actions .download
{
    position: absolute;
    left: 24px;
    top: 22px;
}

.actions .download img
{
    vertical-align: bottom;
}

.actions .browse
{
    position: absolute;
    left: 210px;
    top: 22px;
}

.actions .note
{
    position: absolute;
    left: 420px;
    top: 22px;
    font-size: 0.76em;
    color:#666;
    white-space: nowrap;
    line-height: 1.4;
}

.actions .links
{
    position: absolute;
    left: -257px;
    top: 7px;
    margin-top: 0.35em;
}

.actions .links a
{
    line-height: 1.4;
    font-size: 0.76em;
}


.actions .version
{
    position: absolute;
    left: 7px;
    top: -1em;
    font-size: 0.76em;
    z-index: 10;
}

.actions .version .selector
{
    color:#3875D7;
    cursor: pointer;
    padding-right: 10px;
    background: url(../i/more_arrow.gif) right center;
    background-repeat: no-repeat;
}

.actions .version .list
{
    background: white;
    border: 1px solid #ccc;
    margin-left: -4px;
    padding: 5px;
}

.actions .version .list li
{
    padding: 0.3em 0 0.3em 0;
    color:#3875D7;
    cursor: pointer;
}

.mail
{
    background: url(../i/mail.png) no-repeat;
    background-position: 100% 50%;
    padding-right: 20px;
}

.features
{
}

.features li
{
    float: left;
    width: 320px;
    height: 340px;
}

.keys table
{
    border-collapse: collapse;
    font-size: 0.76em;
    margin: 0 20px 0.3em 0;
}

.keys table th,
.keys table td
{
    padding: 0 0 1em 0;
    text-align: left;
}

.keys table th
{
    padding-right: 1em;
    text-align: right;
    font-weight: normal;
    white-space: nowrap;
}

.keys p
{
    font-size: 0.76em;
}

.copy
{
    clear: both;
    font-size: 0.76em;
    margin-bottom: 20px;
    padding-top: 30px;
}


#win .win-chrome,
#win .mac,
#mac .win,
#mac .win-chrome,
#win-chrome .mac,
#win-chrome .win
{
    display: none;
}
